<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand"><img style="max-width: 200px;
      max-height: 20px;" src="../../assets/logos/mainlogo.svg" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto float-right">

        </ul>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a class="nav-link"><img style="height: 35px;
                  width: auto;" src="../../assets/logos/GitHub_Logo.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><img style="height: 35px;
                  width: auto;" src="../../assets/logos/thumb_150.jpg" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Adminstrator Adminstrator</a>
            </li>
        </ul>
    </div>
</nav>